* {
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 50%;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: rgba(255, 255, 255, 0.1);
}

main {
  display: grid;
  grid-template-columns: minmax(25rem, 15%) 3fr minmax(25rem, 15%);

  height: 100vh;
}
