.nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  border-bottom: 0.5px solid #999;
  padding: 0 2rem;
  background-color: rgb(248, 245, 248);
}
.nav-bar ul li {
  list-style: none;
  padding: 1.5rem 0;
}

.nav-bar ul li a:hover {
  color: rgb(57, 57, 223);
}

.nav-bar ul {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
}
.nav-bar ul li span {
  margin-left: 1.5rem;
}
.logo {
  font-size: 2.5rem;
  padding: 3.5rem 0 50% 0;
}
.logo span {
  margin-left: 1.5rem;
}

li > a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  font-family: "Lato", sans-serif;
}

.nav-btn {
  padding: 1rem 5rem;
  font-size: 2rem;
  margin-bottom: 3rem;
  background-color: rgba(57, 57, 193, 0.7);
  border-radius: 1rem;
  border: none;
  color: #fff;
}
.nav-btn:hover {
  background-color: rgb(24, 24, 156);
}
