.profile {
  grid-column: 3/4;
  background-color: rgba(252, 252, 252, 0.9);
  border-left: 1px solid #dad6d6;
}

.account-info h3 {
  color: #444;
  font-size: 2.45rem;

  padding: 20% 0 3.5rem 0;
  text-align: center;
}
.account-info {
  border-bottom: 0.5px solid #dad6d6;
  padding: 0 0 3.5rem 0;
}

.account-info a {
  text-decoration: none;
  font-size: 1.5rem;
  color: rgb(8, 8, 184);
  display: block;
  margin: 0 auto;
  width: fit-content;
}

.user-img {
  height: 7rem;
  width: 7rem;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  border: 1px solid rgb(156, 156, 246);
  padding: 0.15rem;
}
.username {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  padding: 1.2rem 0;
}

table {
  margin: 2rem 0 0 0;
}
table th {
  font-size: 1.75rem;
  color: rgb(156, 156, 246);
  padding: 1.75rem 0 1.25rem 1.25rem;
}
.user-creation__date {
  font-size: 1.45rem;
  color: rgb(156, 156, 246);
  font-weight: 700;
}
table td {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem;
}
.user-asset {
  color: rgb(109, 109, 109);
}

.asset table tbody td {
  color: rgb(63, 63, 63);
  font-size: 1.7rem;
}
.asset table tbody td span {
  color: rgb(168, 168, 246);
}
.profile a {
  color: rgb(72, 72, 229);
  font-size: 1.75rem;
  font-weight: 600;
  text-decoration: none;
  padding: 1rem;
}
.asset {
  margin-bottom: 2rem;
}
.profile a:hover {
  text-decoration: underline;
}
.profile button {
  padding: 1rem 5rem;
  font-size: 2rem;
  margin-bottom: 3rem;
  background-color: rgba(57, 57, 193, 0.7);
  border-radius: 1rem;
  border: none;
  color: #fff;
  cursor: pointer;
}
.profile button:hover {
  background-color: rgb(24, 24, 156);
}

.btn-container {
  position: absolute;
  bottom: 0;
  padding-left: 1rem;
}
